<div class="article-template" ng-controller="article">
  <h2>Viewing Article</h2>
  <div class="article-title">[[article[titleKey]]]</div>
  <ul class="article-fields">
     <li ng-repeat="field in articleFields">
		<input type="text" readonly="readonly" value="[[article[field]]]"  />
     </li>
   </ul>
   <a  ng-click="editArticle()"><button class="btn btn primary btn-default">Edit Article</button></a>
   <a ng-click="saveArticle()"><button class="btn  btn primary btn-default">Save Article</button></a>
</div>
