<h2>Welcome to AMD (Aviations Mishaps Database) search</h2>
   <h2>Search The Database Below</h2>
        <div ng-controller="searchController" class="search">
          <div class="container">
            <!-- broad or compact -->
            <div class="skin broad">
              <!--
              <h2>Query</h2> 
              <input class="form-control" type="text" name="searchQuery"></input>
              -->
              <ul id="filter" ng-repeat="option in filterOptions">
                <li>
                  <h2>[[option.title]]</h2>
                    <ul> 
                      <li ng-repeat="optionOptions in option.elementOptions">
                      <h5>[[optionOptions.title]]</h5>
                      <div ng-bind-html="buildElement(optionOptions)"></div>
                      </li>
                    </ul>
                </li>
              </ul>
              <button class="btn btn-primary btn-default" ng-click="getSearchResults()">Search</button>
              <div class="clear"></div>
            </div>

            <hr />
            <div id="resultsContainer">

                <h2 ng-bind-html="getResultHeading()"></h2>
                <ul id="results" ng-bind-html="buildResults(results)"></ul>
              <button class="previous-results page-sequence" ng-click="getLessResults()" class="btn btn-primary btn-default">Previous</button>
                <ul  id="pageResultsBefore" ng-repeat="pageNumber in enumeratePagesBefore( pageAmount )">
                    <button class="page-sequence" ng-click="getSpecificResults(pageNumber)" ng-bind-html="getPageHTML(pageNumber)"></button>
                </ul>  


               <ul id="pageResultsNext" ng-repeat="pageNumber in enumeratePagesAfter( pageAmount )">
                  <button class="page-sequence" ng-bind-html="getPageHTML(pageNumber)" ng-click="getSpecificResults(pageNumber)"></button>
               </ul>
              <button class="page-sequence next-results" ng-click="getMoreResults()" class="btn btn-primary btn-default">Next</button>

            <div class="clear"></div>
        </div> 


