ul,ol,dl,div,h1,h2,h3,h4,h5 {
 margin: 0px;
 padding: 0px;
}

body {
  width: 100%;
}

ul,dl,ol {
  list-style: none;
}

.search {
  width: 100%;
}

.search .container {
  width: 980px;
  height: auto;
  float: left;
  margin: 0 auto  20px;
  border: 1px solid #E3E3E3;
  border-radius: 7px;
  padding: 20px;
}
.search .container h1,h2,h3,h4,h5 {
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 10px;
}

.search .container .pages li {
   border-radius: 7px;  
  padding: 5px;
   text-align: center;
   cursor: pointer;
}

.search .container li.result {
   border: 1px solid #E3E3E3;
   border-radius: 7px;
   margin-bottom: 5px;
}


.search .container li.result li label {
   font-weight: 700;
}  

.search .container li.result li div {
   font-style: italic;
}

.btn-results {
 display: none;
}
.previous-results {
 display:none;
}
.next-results {
 display: none;
}
.compact {
   border-bottom: 1px;
} 
.compact input[type='text'] {
   float: left;
}
.compact button {
  float: right;
}
.broad {
   border-bottom: 1px;
}
.broad input[type='text'] {
  width: 100%;
  padding:5px;
}
.broad button {
  margin: 0px auto; 
  width: 500px;
  padding: 20px;
  font-size: 20px;
}

.clear {
  clear: both; 
}  
.page-sequence {
  float: left;
  margin: 0px  4px;
}
.result-single-container {   
  width: 100%;
  float: left;
  padding: 5px;
  border: 1px solid #E3E3E3;
  border-radius: 7px;
  margin-bottom:  7px;
}
.result-column-container label {
  font-weight:  700;
  float:left;
  margin-right: 15px;
  font-size: 14px;
}
.result-column-container b {
  font-weight:none;
  float: left;
  font-size: 12px;
}







   










