
<!DOCTYPE HTML>
 <head>
      <title>{{ title }}</title>
      <meta  name="keywords" content="AMD, Aviation Mishaps Database, amd"></meta>
      <meta name="title" content="Aviations Mishaps Database Search- Search For Aviations Mishaps Database"></meta>
      <meta name="viewport" content="width=device-width;">
      <link rel="stylesheet" href="{{application_http_directory}}/static/main.css"></link>
      <link rel="stylesheet" href="{{application_http_directory}}/static/bootstrap.css"></link>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-sanitize.js"></script>

      <script type="text/javascript"  src="{{application_http_directory}}/static/jquery-2.1.4.js"></script>
      <script type="text/javascript" src="{{application_http_directory}}/static/app_amd.js"></script> 
      <script type="text/javascript" src="{{application_http_directory}}/static/bootstrap.js"></script>
 </head>
 <body>
 
