
<!DOCTYPE HTML>
 <head>
      <title>{{ % title if title else APPLICATION_TITLE %}}</title>
      <meta  name="keywords" content="AMD, Aviation Mishaps Database, amd"></meta>
      <meta name="title" content="Aviations Mishaps Database Search- Search For Aviations Mishaps Database"></meta>
      <meta name="viewport" content="width=device-width;">
      <script type="text/javascript"  src="./js/jquery-2.1.4"></script>
      <script type="text/javascript" src="./js/angular.js"></script>
      <script type="text/javascript" src="./js/app_amd.js"></script> 
 </head>
 <body>
 
